<section class="phx-hero">
  <p>the current top COVID-19 hotspot in the world is...<p>
  <p class="top-hotspot"><%= @top.display_name %></p>
  <p><%= @top.active_cases %> active cases,</p>
  <p><%= @top.population %> population,</p>
  <p><%= percent(@top.fraction) %>% currently infected</p>
</section>

<section class="row">
<table>
  <thead>
    <th>Region</th>
    <th>Active cases</th>
    <th>Population</th>
    <th>Percentage</th>
  </thead>
  <tbody>
  <%= for area <- @ranking do %>
    <tr>
      <td><%= area.display_name %></td>
      <td><%= area.active_cases %></td>
      <td><%= area.population %></td>
      <td><%= percent(area.fraction) %>%</td>
    </tr>
  <% end %>
  </tbody>
</table>
</section>
