<section class="phx-hero">
  <p>the current top COVID-19 hotspot in the world is...<p>
  <%# <h1>Welcome to Phoenix!</h1>
  <p>A productive web framework that<br/>does not compromise speed or maintainability.</p> %>
  <p class="top-hotspot">Italy</p>
  <p>1 in 502934 currently infected</p>
</section>

<section class="row">
<table>
  <thead>
    <th>Region</th>
    <th>Currently infected</th>
  </thead>
  <tbody>
    <tr>
      <td>Italy</td>
      <td>1 in 502934</td>
    </tr>
    <tr>
      <td>UK</td>
      <td>1 in 10000000</td>
    </tr>
  </tbody>
</table>
</section>
