/* This file is for your main application css. */

@import "./phoenix.css";

.phx-hero {
    background: transparent;
    border-bottom: 0px
}

.top-hotspot {
    font-size: 160%;
    font-weight: bold;
    padding: 3rem;
}

.container {
    max-width: 60rem;
}

.phx-hero {
    padding: 3rem;
}

table {
    font-size: 80%;
}

td, th {
    text-align: center;
    width: 15rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
