<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Top COVID-19 Hotspot" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <!-- Primary Meta Tags -->
    <title>Top COVID-19 Hotspot</title>
    <meta name="title" content="Top COVID-19 Hotspot">
    <meta name="description" content="Live world ranking of COVID-19 infection outbreak, adjusted by population. ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://covidhotspot.info/">
    <meta property="og:title" content="Top COVID-19 Hotspot">
    <meta property="og:description" content="Live world ranking of COVID-19 infection outbreak, adjusted by population. ">
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/banner.jpg") %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://covidhotspot.info/">
    <meta property="twitter:title" content="Top COVID-19 Hotspot">
    <meta property="twitter:description" content="Live world ranking of COVID-19 infection outbreak, adjusted by population. ">
    <meta property="twitter:image" content="<%= Routes.static_path(@conn, "/images/banner.jpg") %>">
    <%= csrf_meta_tag() %>



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Application.fetch_env!(:covid_hotspot, :google_analytics_tag) %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= Application.fetch_env!(:covid_hotspot, :google_analytics_tag) %>');
    </script>

  </head>
  <body>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
